@model WahlbergUr.Models.Product

@{
    ViewData["Title"] = "Show Product";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show Product</title>
</head>
<body>
    <h1>@ViewData["Title"]</h1>

    @{
        var product = ViewData["Product"] as Product;
    }
    <div id="displayProduct">
        <h3>Id: @product.ProductId</h3>
        <h3>Name: @product.ProductName</h3>
        <h3>Detail: @product.ProductInformation</h3>
        <h3>Price: @product.ProductPrice</h3>
        <div id="imageContainer">
            <img src="@Url.Content(product.ProductUrl) " width="150" height="100" alt="Image" />
        </div>
    </div>
    </body>
</html>












