@model WahlbergUr.Models.Product

@{
    ViewData["Title"] = "Vald Produkt";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vald Produkt</title>
</head>
<body>
    <h4>@ViewData["Title"]</h4>
    @{
        var product = ViewData["Product"] as Product;
    }
    <div class="gridwrapperproduct">
        <div class="product1">
                <img src="@Url.Content(product.ProductUrlLarge)" @*height="250" width="150"*@  alt="Image" />
        </div>
        <div class="product2">Namn: @product.ProductName</div>
        <div class="product3">Beskrivning: @product.ProductInformation</div>
        <div class="product4">Pris: @product.ProductPrice SEK</div>
    </div>
</body>
</html>












