@model WahlbergUr.Models.User

@{
    ViewBag.Title = "Register";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <div id="registerForm">
        <h4>Registration</h4>
        @using (Html.BeginForm("Register", "Customer", FormMethod.Post))
        {
            <table border="0" cellpadding="2" cellspacing="2">
                <tr>
                    <td>Firstname</td>
                    <td> @Html.TextBoxFor(model => model.FirstName)</td>
                </tr>
                <tr>
                    <td>Lastname</td>
                    <td>@Html.TextBoxFor(model => model.LastName)</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>@Html.TextBoxFor(model => model.Email)</td>
                </tr>
                <tr>
                    <td>Username</td>
                    <td> @Html.TextBoxFor(model => model.UserName)</td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td> @Html.TextBoxFor(model => model.Password)</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><input type="submit" id="register" value="Register"></td>
                </tr>
            </table>
        }
    </div>
</body>
</html>
