@model IEnumerable<WahlbergUr.Models.EditUser>
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Kunder i databasen";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kunder i databasen</title>
</head>
<body>
    <h4>@ViewData["Title"]</h4>
    <table id="customertable">
        <thead>
            <tr>
                <th>
                    Förnamn
                </th>
                <th>
                    Efternamn
                </th>
                <th>
                    Användarnamn
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @if (item.IsMember)
                        {
                            <a asp-area="" asp-controller="Admin" asp-action="DeleteUser" asp-route-username="@item.UserName">Ta bort användare</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>