@model WahlbergUr.Models.Shop


    @{
        ViewData["Title"] = "Show Information";
    }

    <h1>@ViewData["Title"]</h1>

    @*<form asp-area="" asp-controller="Admin" asp-action="FindShopInformation">*@

    @{
        var information = ViewData["Information"] as Shop;
    }
    <div id="displayInformation">
        <div class="section-title-not-heading">Öppettider</div>
        <p>@information.FromDay - @information.ToDay</p>
        <p>@information.OpeningHours - @information.ClosingHours</p>
        <p>@information.Weekend</p>
        <p>@information.IsClosed</p>
        <div class="separator-side-column"></div>
        <p>Adress:</p>
        <p>@information.Address</p>
        <p>@information.PostalCode @information.City</p>
        <p>Telefon:</p>
        <p>@information.PhoneNumber</p>
        <div class="separator-side-column">
            <p>Information:</p>
            <p>@information.ShopInformation</p>
        </div>
    </div>

    @*</form>*@



